.App {
  text-align: center;
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #282c34;
  .App-header {
    position: absolute;
    width: 60vw;
    font-size: calc(10px + 2vmin);
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 400ms;
    .App-logo {
      height: 40vmin;
      pointer-events: none;
      @media (prefers-reduced-motion: no-preference) {
        animation: App-logo-spin infinite 20s linear;
      }
    }
    .account-info {
      width: 60%;
      margin: 0 auto;
      position: relative;
      height: 60px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .balance {
        font-size: medium;
      }
      .connection {
        height: 20px;
        padding: 10px 20px;
        background-color: cornflowerblue;
        font-size: medium;
        text-transform: uppercase;
        border-radius: 4px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        transition: all 400ms;
      }
    }
  }
  .connected {
    top: 0;
    left: 50%;
    transform: translate(-50%);
    .account-info {
      .connection {
        left: 100%;
        transform: translateX(-100%);
      }
    }
  }
}

// Animations
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
